/*sticky nav*/
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
/*font*/
#title-brand-logo {
  font-family: 'Calligraffitti', cursive;
}

#sub-title {
  font-family: 'Calligraffitti', cursive;
}
